/* Variables */
:root {
    --accent: #0e7490;
    --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    --rose-700: #be123c;
    --slate-50: #f8fafc;
    --slate-200: #e2e8f0;
    --slate-800: #1e293b;
}

/* Utility Classes */



/* Universal Styles */

body {
    color: var(--slate-800);
    font-family: "Open Sans", sans-serif;
    font-size: 1.25rem;
}

h1 {
    font-size: 1.65rem;
    font-weight: normal;
    margin-bottom: 1rem;
}

/* Header Styles */

header {
    background-color: var(--slate-50);
    border-bottom: 1px solid var(--slate-200);
    box-shadow: var(--box-shadow);
    padding: 0.5rem;
}

.sr-only{
    display:none;
}


ul svg{
    width: 1.75rem;
    margin: 0;
}

nav{
    max-width:72rem;
}

ul{
    position: relative;
    margin:0;
    padding:0;
}

ul a {
    display:flex;
    justify-content:left;
    text-align:center;
    gap: 1rem;
    padding: 1rem 0;
    text-decoration:none;
}


ul a:hover {
    color: var(--accent);
}

    .badge-1 {
        position: absolute;
        top: 0.4rem;
        left: 0.8rem;
        background-color: var(--rose-700);
        color: var(--slate-50);
        font-size: 1rem;
        border-radius: 9999px;
        padding: 0.2rem 0.2rem;
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 1;
        display: inline-block;
        min-width: 1.25rem;
        text-align: center;
        }

    .badge-2 {
        position: absolute;
        top: 4.3rem;
        left: 0.8rem;
        background-color: var(--rose-700);
        color: var(--slate-50);
        font-size: 1rem;
        border-radius: 9999px;
        padding: 0.2rem 0.2rem;
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 1;
        display: inline-block;
        min-width: 1.25rem;
        text-align: center;
        }


/* Media Query */
@media screen and (min-width: 64rem) {

   ul.menu{
    display:flex;
    justify-content:space-between;
    gap: 2rem;
   }

   header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    padding: 1rem 12rem;
   }

   h1 {
    align-items: center;
    text-align: center;
    margin: 0;
   }

    .badge-2 {
        position: absolute;
        top: 0.4rem;
        left: 13rem;
        background-color: var(--rose-700);
        color: var(--slate-50);
        font-size: 1rem;
        border-radius: 9999px;
        padding: 0.2rem 0.2rem;
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 1;
        display: inline-block;
        min-width: 1.25rem;
        text-align: center;
        }


}

